# Import libs

In [1]:
import pandas as pd

# Read the data

In [10]:
users_col_names = ['ID', 'Type', 'Name', 'Reserved field', 'Description']
users = pd.read_csv('raw_data/users.csv', sep='|', on_bad_lines='skip', names=users_col_names)

In [3]:
subscriptions_col_names = ['FollowerID', 'FollowedID']
subs = pd.read_csv('raw_data/subscriptions.csv', sep=',', on_bad_lines='skip', names=subscriptions_col_names)

In [4]:
services_col_names = ['UserID', 'ServiceID', 'ServiceName', 'ServiceURL', 'UserNameOnService', 'UserURLOnService']
services = pd.read_csv('raw_data/services.csv', sep='|', on_bad_lines='skip', names=services_col_names)

In [5]:
likes_col_names = ['userID', 'PostID', 'Timestamp']
likes = pd.read_csv('raw_data/likes.csv', sep='\t', on_bad_lines='skip', names=likes_col_names)

In [6]:
following_col_names = ['FollowerID', 'FollowedID', 'Timestamp']
following = pd.read_csv('raw_data/followingAugSept.csv', sep='\t', on_bad_lines='skip', names=following_col_names)

KeyboardInterrupt:

In [7]:
comments_col_names = ['PostID', 'EntryID', 'PostedBy', 'SourceName', 'SourceURL', 'GeoX', 'GeoY', 'Timestamp', 'Text', 'NumImg', 'ImgURL', 'NumVid', 'VidURL']
comments = pd.read_csv('raw_data/commentAugSept.csv', sep='\t', on_bad_lines='skip', names=comments_col_names)

In [8]:
entries_col_names = ['PostID', 'PostedBy', 'SourceName', 'SourceURL', 'GeoX', 'GeoY', 'Timestamp', 'Text', 'NumImg', 'ImgURL', 'NumVid', 'VidURL']
entries1 = pd.read_csv('raw_data/entries1.csv', sep='\t', on_bad_lines='skip', names=entries_col_names)
entries2 = pd.read_csv('raw_data/entries2.csv', sep='\t', on_bad_lines='skip', names=entries_col_names)
entries3 = pd.read_csv('raw_data/entries3.csv', sep='\t', on_bad_lines='skip', names=entries_col_names)
entries = pd.concat([entries1, entries2, entries3], ignore_index=True)

# Drop unrelevant columns

In [11]:
users.drop('Reserved field', axis=1, inplace=True)

In [10]:
services.drop(['ServiceName', 'UserNameOnService', 'UserURLOnService'], axis=1, inplace=True)

In [11]:
comments.drop(['SourceName', 'GeoX', 'GeoY', 'NumImg', 'NumVid', 'ImgURL', 'VidURL'], axis=1, inplace=True)

In [12]:
entries.drop(['SourceName', 'GeoX', 'GeoY', 'NumImg', 'NumVid', 'ImgURL', 'VidURL'], axis=1, inplace=True)

# Get data overview

## Users

In [13]:
users.head()

,ID,Type,Name,Description
0,2gwsk,user,Ming Quek,NaN
1,iroach,user,Isaac Roach,NaN
2,tonybraun,user,Tony Braun,NaN
3,junknajidyahoocom1,user,Junknajid Yahoocom,NaN
4,spaceastronautics,user,Space & Astronautics News,"NASA, ESA, NOAA, USGS, astronomy, space, weath..."

In [14]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665382 entries, 0 to 665381
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ID           665382 non-null  object
 1   Type         665382 non-null  object
 2   Name         665376 non-null  object
 3   Description  172177 non-null  object
dtypes: object(4)
memory usage: 20.3+ MB

In [15]:
users.describe()

                  ID    Type    Name Description
count         665382  665382  665376      172177
unique        645414       2  546438      161828
top     abdullahazad    user   Chris         ...
freq               3  619551     503         111

## Subs

In [16]:
subs.head()

   FollowerID FollowedID
0  seoptimise      2gwsk
1       xahac      2gwsk
2   kmorrison     iroach
3  seoptimise     iroach
4       skyje     iroach

In [17]:
subs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27811816 entries, 0 to 27811815
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   FollowerID  object
 1   FollowedID  object
dtypes: object(2)
memory usage: 424.4+ MB

In [18]:
subs.describe()

       FollowerID   FollowedID
count    27811816     27811816
unique     535673       536131
top      br3adman  barackobama
freq       112145       113923

## Services

In [19]:
services.head()

   UserID   ServiceID                         ServiceURL
0   2gwsk        blog  http://en.wikipedia.org/wiki/Blog
1   2gwsk     twitter                http://twitter.com/
2  iroach    facebook           http://www.facebook.com/
3  iroach  googletalk            http://talk.google.com/
4  iroach     twitter                http://twitter.com/

In [20]:
services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1587290 entries, 0 to 1587289
Data columns (total 3 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   UserID      1587285 non-null  object
 1   ServiceID   1587283 non-null  object
 2   ServiceURL  1587278 non-null  object
dtypes: object(3)
memory usage: 36.3+ MB

In [21]:
services.describe()

                 UserID ServiceID                         ServiceURL
count           1587285   1587283                            1587278
unique           322974        66                                 61
top     julieannevanzyl      blog  http://en.wikipedia.org/wiki/Blog
freq                880    353941                             353941

## Likes

In [22]:
likes.head()

             userID                              PostID            Timestamp
0           yasinde  e/2d4fcaed2d2a4ac1a36571b66da3f16c  2010-04-28 07:17:43
1  socialnewsturkey  e/2d4fcaed2d2a4ac1a36571b66da3f16c  2010-03-02 20:10:02
2             janzu  e/2d4fcaed2d2a4ac1a36571b66da3f16c  2010-03-02 19:50:57
3        mugecerman  e/2d4fcaed2d2a4ac1a36571b66da3f16c  2010-03-02 19:18:38
4           miocaro  e/2d4fcaed2d2a4ac1a36571b66da3f16c  2010-03-02 17:31:31

In [23]:
likes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798112 entries, 0 to 798111
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userID     798112 non-null  object
 1   PostID     798112 non-null  object
 2   Timestamp  798112 non-null  object
dtypes: object(3)
memory usage: 18.3+ MB

In [24]:
likes.describe()

        userID                              PostID            Timestamp
count   798112                              798112               798112
unique   22876                              475596               752560
top      falob  e/3a6ab67d5f184c1fa6004f94d1069a13  2010-08-02 15:11:16
freq     25224                                 409                   18

## Following

In [25]:
following.head()

      FollowerID      FollowedID                   Timestamp
0      njsinc4el    brendafranzo  2010-08-01 16:21:37.562726
1      njsinc4el       praguebob  2010-08-01 16:21:37.565893
2  zachhwilliams      hungheroic  2010-08-01 16:21:37.779807
3  zachhwilliams      ridwan2906  2010-08-01 16:21:37.780406
4  zachhwilliams  nickcodipietro  2010-08-01 16:21:37.780894

In [26]:
following.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19547158 entries, 0 to 19547157
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   FollowerID  object
 1   FollowedID  object
 2   Timestamp   object
dtypes: object(3)
memory usage: 447.4+ MB

In [27]:
following.describe()

       FollowerID FollowedID                   Timestamp
count    19547158   19547158                    19547158
unique     202148     454198                    19547158
top      mashable   br3adman  2010-08-01 16:21:37.562726
freq        43222      74522                           1

## Comment

In [28]:
comments.head()

,PostID,EntryID,PostedBy,SourceURL,Timestamp,Text
0,e/ed12adf025b5491da54c4ff2c8c5377a/c/c2dbc8151...,e/ed12adf025b5491da54c4ff2c8c5377a,koenigdublin,NaN,2010-08-06 15:06:32,В начале 20 века было противостояние идеологи...
1,e/7f6fb13b5a99449bb9dcbb3f8693be73/c/7477fb677...,e/7f6fb13b5a99449bb9dcbb3f8693be73,ilportalinux,NaN,2010-08-06 15:06:32,sofferenza? :D
2,e/624ca9226b6526ebdb69f9b46df482c7/c/32c6bf5bc...,e/624ca9226b6526ebdb69f9b46df482c7,guardianuk,NaN,2010-08-06 14:45:07,Reel Review video: Catherine Shoard defends Kn...
3,e/2fdf59e075094fe1847137af34eda0f7/c/eb22afe81...,e/2fdf59e075094fe1847137af34eda0f7,nahi,http://m.ctor.org/f2p/,2010-08-06 15:06:32,VMWareじゃなくてVMwareね。
4,e/4d8de05f989d43a4b90bfbfc59751e1c/c/d472f7b81...,e/4d8de05f989d43a4b90bfbfc59751e1c,miocaro,NaN,2010-08-06 15:06:31,Anıl havuzdan uzak dur. Sen evde olacaksın :)

In [29]:
comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3749891 entries, 0 to 3749890
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   PostID     object
 1   EntryID    object
 2   PostedBy   object
 3   SourceURL  object
 4   Timestamp  object
 5   Text       object
dtypes: object(6)
memory usage: 171.7+ MB

In [30]:
comments.describe()

,PostID,EntryID,PostedBy,SourceURL,Timestamp,Text
count,3749891,3749891,3749891,401556,3749891,3749880
unique,3749891,1240016,54045,57,2592055,3363116
top,e/ed12adf025b5491da54c4ff2c8c5377a/c/c2dbc8151...,e/0e89be95be2a412289c9a0bed337a97c,sidepodcastlive,http://friendfeed.com/share/bookmarklet,2010-09-02 04:28:39,:)
freq,1,4410,29348,188757,32,10788

## Entries 1,2,3

In [31]:
entries1.head()

,PostID,PostedBy,SourceName,SourceURL,GeoX,GeoY,Timestamp,Text,NumImg,ImgURL,NumVid,VidURL
0,e/29af803d670fb8d67692095f3ee623e6,newsroom1,Ottawa Citizen - News,http://www.ottawacitizen.com/index.html,\N,\N,2010-08-02 18:43:10,RIM 'will not compromise' BlackBerry security ...,1.0,http://www.ottawacitizen.com/will+compromise+...,0.0,NaN
1,e/9c8413a376bec6389be4d46d0812c2bb,mehmetinnet,Mehmetin.Net,http://www.mehmetin.net,\N,\N,2010-08-02 19:15:52,Fethullah Gülen: Referandum siyasî olarak görü...,1.0,http://www.mehmetin.net/2010/08/fethullah-gul...,0.0,NaN
2,e/2d658d97842a466a9513f587f85b0e59,mehmetergin,Mehmetin.Net,http://www.mehmetin.net/,\N,\N,2010-08-02 19:15:52,Fethullah Gülen: Referandum siyasî olarak görü...,1.0,http://www.mehmetin.net/2010/08/fethullah-gul...,0.0,NaN
3,e/b269ab5d56be4e5e90c1954ecc1ef63a,afriki,NaN,NaN,\N,\N,2010-08-02 16:37:57,Мне тут недавно один дизайнер сказал: «Ну прот...,0.0,NaN,0.0,NaN
4,e/74f0a50c374a4ad6bddcbcc60c60cad9,hamsafar,NaN,NaN,\N,\N,2010-08-02 18:54:39,عرض سلام و خسته نباشيد:),0.0,NaN,0.0,NaN

In [32]:
entries1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000000 entries, 0 to 3999999
Data columns (total 12 columns):
 #   Column      Dtype
---  ------      -----
 0   PostID      object
 1   PostedBy    object
 2   SourceName  object
 3   SourceURL   object
 4   GeoX        object
 5   GeoY        object
 6   Timestamp   object
 7   Text        object
 8   NumImg      float64
 9   ImgURL      object
 10  NumVid      float64
 11  VidURL      object
dtypes: float64(2), object(10)
memory usage: 366.2+ MB

In [33]:
entries1.describe()

             NumImg        NumVid
count  3.999954e+06  3.999954e+06
mean   1.578036e-01  2.376427e-02
std    9.891648e-01  1.801531e-01
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00
max    2.500000e+01  9.000000e+00

In [34]:
entries2.head()

,PostID,PostedBy,SourceName,SourceURL,GeoX,GeoY,Timestamp,Text,NumImg,ImgURL,NumVid,VidURL
0,e/4ec845b38287101deb6739d0fa64566d,starya,Lolcats 'n' Funny Pictures of Cats - I Can Has...,http://icanhascheezburger.com/,\N,\N,2010-08-24 20:00:38,"VIDEO: Kitteh Tricks - <a rel=""nofollow"" href=...",0.0,NaN,0.0,NaN
1,e/3ca878bcc2f5ed65c7217e4e8d1b6300,vkamutzki,Google Reader,http://www.google.com/reader/shared/0541245284...,\N,\N,2010-08-24 20:01:58,"Scene: Torontohenge Sunrise - <a rel=""nofollow...",0.0,NaN,0.0,NaN
2,e/19130fd6b5444f9ba321c58bdf7242a2,biznetsuk,HelloTxt,http://hellotxt.com/,\N,\N,2010-08-24 20:02:08,autobuynow.info/cars Car Buying: How to buy ne...,0.0,NaN,0.0,NaN
3,e/62945bae3a1433880c0a681081ee8cbb,monikap19,Books Nonfiction,http://bnmoon.blogspot.com/,\N,\N,2010-08-24 20:02:00,"Check Out Psychology for $89.28 - <a rel=""nofo...",0.0,NaN,0.0,NaN
4,e/41d2105e23fc70c1976387ab53f51c89,pendar,Google Reader,http://www.google.com/reader/shared/1316848039...,\N,\N,2010-08-24 20:02:07,رکورد گینس تایپ سریع پیام با استفاده از گوشی گ...,0.0,NaN,0.0,NaN

In [35]:
entries2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000000 entries, 0 to 3999999
Data columns (total 12 columns):
 #   Column      Dtype
---  ------      -----
 0   PostID      object
 1   PostedBy    object
 2   SourceName  object
 3   SourceURL   object
 4   GeoX        object
 5   GeoY        object
 6   Timestamp   object
 7   Text        object
 8   NumImg      float64
 9   ImgURL      object
 10  NumVid      float64
 11  VidURL      object
dtypes: float64(2), object(10)
memory usage: 366.2+ MB

In [36]:
entries2.describe()

             NumImg        NumVid
count  3.999975e+06  3.999975e+06
mean   1.070367e-01  2.199864e-02
std    7.373959e-01  1.913891e-01
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00
max    2.500000e+01  1.500000e+01

In [37]:
entries3.head()

,PostID,PostedBy,SourceName,SourceURL,GeoX,GeoY,Timestamp,Text,NumImg,ImgURL,NumVid,VidURL
0,e/56dfd8c1beb24b52b33e5369a1004603,healthrockstar,Ping.fm,http://ping.fm/,\N,\N,2010-09-10 05:56:36,"HealthRockstar: weightloss,#fitness 11 News An...",0.0,NaN,0.0,NaN
1,e/6d231b54bd0289060de9be6905900961,aggregatore,Aggregatore di blog,http://aggregatore.seoguru.it,\N,\N,2010-09-10 05:30:00,Pop Star Coreana Cade Rovinosamente Sul Palco ...,0.0,NaN,0.0,NaN
2,e/4d38f93a832c4f1cb2e2446eb15e3888,afro2501,Ping.fm,http://ping.fm/,\N,\N,2010-09-10 05:56:36,"Interesting Page: Object moved <a rel=""nofollo...",0.0,NaN,0.0,NaN
3,e/0e38d17bf5a47b55ae5782c8a6d985bc,cleanthinking,Cleanthinking.de - Cleantech und Energie News,http://www.cleanthinking.de/,\N,\N,2010-09-10 05:56:24,"Hintergrund Geothermie: Die Quelle, die nie ve...",0.0,NaN,0.0,NaN
4,e/5cb0fbb41a0567b2e3f228d0d6cec52e,gnomebeatz,Twitter,http://twitter.com/questlove/statuses/24081170630,\N,\N,2010-09-10 05:56:36,"@<a rel=""nofollow"" href=""http://twitter.com/ma...",0.0,NaN,0.0,NaN

In [38]:
entries3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4450658 entries, 0 to 4450657
Data columns (total 12 columns):
 #   Column      Dtype
---  ------      -----
 0   PostID      object
 1   PostedBy    object
 2   SourceName  object
 3   SourceURL   object
 4   GeoX        object
 5   GeoY        object
 6   Timestamp   object
 7   Text        object
 8   NumImg      float64
 9   ImgURL      object
 10  NumVid      float64
 11  VidURL      object
dtypes: float64(2), object(10)
memory usage: 407.5+ MB

In [39]:
entries3.describe()

             NumImg        NumVid
count  4.450640e+06  4.450640e+06
mean   9.783402e-02  1.538004e-02
std    6.626481e-01  1.495326e-01
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00
max    2.500000e+01  1.100000e+01

# Data exploration

## Users

In [40]:
users[users['Name'].isna()]

,ID,Type,Name,Description
18941,science-commons,group,NaN,Redundant room. Please use http://friendfeed....
41053,nonetw,user,NaN,NaN
67108,nanzoo,user,NaN,NaN
215563,ernesnull,user,NaN,NaN
440759,cecybernal,user,NaN,NaN
617136,deathwish23,user,NaN,NaN

In [41]:
users.drop_duplicates(subset=['ID', 'Type'], inplace=True)

In [42]:
users.head()

,ID,Type,Name,Description
0,2gwsk,user,Ming Quek,NaN
1,iroach,user,Isaac Roach,NaN
2,tonybraun,user,Tony Braun,NaN
3,junknajidyahoocom1,user,Junknajid Yahoocom,NaN
4,spaceastronautics,user,Space & Astronautics News,"NASA, ESA, NOAA, USGS, astronomy, space, weath..."

## Subs

In [43]:
subs[subs.duplicated()].head()

            FollowerID FollowedID
25626456       cheteam  104455115
25626457    crisis2010  104455115
25626458    starikname  104455115
25626459  gaidamanchuk  104455115
25626460        gipsow  104455115

In [44]:
subs[(subs['FollowerID']=='cheteam') & (subs['FollowedID']=='104455115')]

         FollowerID FollowedID
11690075    cheteam  104455115
25626456    cheteam  104455115
26482578    cheteam  104455115

In [45]:
subs.drop_duplicates(subset=['FollowerID', 'FollowedID'], inplace=True)

In [46]:
subs.shape

(25862827, 2)

## Services

In [47]:
services.dropna(subset=['UserID'], inplace=True)

In [48]:
services.head()

   UserID   ServiceID                         ServiceURL
0   2gwsk        blog  http://en.wikipedia.org/wiki/Blog
1   2gwsk     twitter                http://twitter.com/
2  iroach    facebook           http://www.facebook.com/
3  iroach  googletalk            http://talk.google.com/
4  iroach     twitter                http://twitter.com/

In [49]:
services.groupby(['ServiceID', 'ServiceURL']).count()

                                             UserID
ServiceID ServiceURL
amazon    http://www.amazon.com/              12061
ameba     http://www.ameba.jp/                 3975
backtype  http://www.backtype.com/             2143
baidu     http://hi.baidu.com/                  734
blog      http://en.wikipedia.org/wiki/Blog  353941
...                                             ...
vimeo     http://www.vimeo.com/               12190
wakoopa   http://wakoopa.com/                  2742
yelp      http://www.yelp.com/                 6424
youtube   http://www.youtube.com/             92415
zooomr    http://www.zooomr.com/               1454

[61 rows x 1 columns]

In [50]:
services[services.duplicated()].head()

                UserID ServiceID                ServiceURL
17  junknajidyahoocom1   twitter       http://twitter.com/
20   spaceastronautics  facebook  http://www.facebook.com/
21   spaceastronautics  facebook  http://www.facebook.com/
23   spaceastronautics   twitter       http://twitter.com/
24   spaceastronautics   twitter       http://twitter.com/

In [51]:
services.drop_duplicates(subset=['UserID', 'ServiceID'], inplace=True)

## Likes

In [52]:
likes.head()

             userID                              PostID            Timestamp
0           yasinde  e/2d4fcaed2d2a4ac1a36571b66da3f16c  2010-04-28 07:17:43
1  socialnewsturkey  e/2d4fcaed2d2a4ac1a36571b66da3f16c  2010-03-02 20:10:02
2             janzu  e/2d4fcaed2d2a4ac1a36571b66da3f16c  2010-03-02 19:50:57
3        mugecerman  e/2d4fcaed2d2a4ac1a36571b66da3f16c  2010-03-02 19:18:38
4           miocaro  e/2d4fcaed2d2a4ac1a36571b66da3f16c  2010-03-02 17:31:31

In [53]:
likes['Timestamp'] = pd.to_datetime(likes['Timestamp']).dt.tz_localize('Etc/GMT-1').dt.tz_convert('UTC').dt.strftime('%Y-%m-%dT%H:%M:%S')

In [54]:
likes[likes.duplicated()].head()

           userID                              PostID            Timestamp
3257      boredcw  e/20d23a110f7149388ae1933395b9c2f9  2010-08-02T17:55:01
4379     sunipeyk  e/261617709fb44c7daa637f0e5a47c3e5  2010-08-02T19:26:51
6764          k8s  e/8841f82721e34eec977ef6f63b3d83ae  2010-08-02T20:48:02
15489    entezar1  e/cadb4ad14e534afa84329de8e2478211  2010-08-02T14:11:16
20737  cemilertem  e/4eeee3f962a94ea18950bf5a05626d11  2010-07-27T08:47:57

In [55]:
likes.drop_duplicates(subset=['userID', 'PostID', 'Timestamp'], inplace=True)

## Following

In [56]:
following.head()

      FollowerID      FollowedID                   Timestamp
0      njsinc4el    brendafranzo  2010-08-01 16:21:37.562726
1      njsinc4el       praguebob  2010-08-01 16:21:37.565893
2  zachhwilliams      hungheroic  2010-08-01 16:21:37.779807
3  zachhwilliams      ridwan2906  2010-08-01 16:21:37.780406
4  zachhwilliams  nickcodipietro  2010-08-01 16:21:37.780894

In [57]:
def convert_timestamp(row):
    timestamp = row['Timestamp']
    timestamp = timestamp.split('.')
    timestamp = timestamp[0]
    return timestamp

following['Timestamp'] = following.apply(convert_timestamp, axis=1)
following['Timestamp'] = pd.to_datetime(following['Timestamp']).dt.tz_localize('Etc/GMT-1').dt.tz_convert('UTC').dt.strftime('%Y-%m-%dT%H:%M:%S')

In [58]:
following.head()

      FollowerID      FollowedID            Timestamp
0      njsinc4el    brendafranzo  2010-08-01T15:21:37
1      njsinc4el       praguebob  2010-08-01T15:21:37
2  zachhwilliams      hungheroic  2010-08-01T15:21:37
3  zachhwilliams      ridwan2906  2010-08-01T15:21:37
4  zachhwilliams  nickcodipietro  2010-08-01T15:21:37

## Comment

In [59]:
comments.head()

,PostID,EntryID,PostedBy,SourceURL,Timestamp,Text
0,e/ed12adf025b5491da54c4ff2c8c5377a/c/c2dbc8151...,e/ed12adf025b5491da54c4ff2c8c5377a,koenigdublin,NaN,2010-08-06 15:06:32,В начале 20 века было противостояние идеологи...
1,e/7f6fb13b5a99449bb9dcbb3f8693be73/c/7477fb677...,e/7f6fb13b5a99449bb9dcbb3f8693be73,ilportalinux,NaN,2010-08-06 15:06:32,sofferenza? :D
2,e/624ca9226b6526ebdb69f9b46df482c7/c/32c6bf5bc...,e/624ca9226b6526ebdb69f9b46df482c7,guardianuk,NaN,2010-08-06 14:45:07,Reel Review video: Catherine Shoard defends Kn...
3,e/2fdf59e075094fe1847137af34eda0f7/c/eb22afe81...,e/2fdf59e075094fe1847137af34eda0f7,nahi,http://m.ctor.org/f2p/,2010-08-06 15:06:32,VMWareじゃなくてVMwareね。
4,e/4d8de05f989d43a4b90bfbfc59751e1c/c/d472f7b81...,e/4d8de05f989d43a4b90bfbfc59751e1c,miocaro,NaN,2010-08-06 15:06:31,Anıl havuzdan uzak dur. Sen evde olacaksın :)

In [60]:
comments[['EntryID', 'PostedBy', 'Timestamp']].duplicated().sum()

np.int64(2789)

In [61]:
comments[comments[['EntryID', 'PostedBy', 'Timestamp']].duplicated()].head()

,PostID,EntryID,PostedBy,SourceURL,Timestamp,Text
12,e/01e9a149fff85ff948972896145d3d65/c/c70184cfd...,e/01e9a149fff85ff948972896145d3d65,inhabitat24,NaN,2010-08-06 15:06:27,Yesterday the enviously green city of Portland...
4286,e/3df77e7962d4bb102c15b59c2d0a7e84/c/d3ab818a9...,e/3df77e7962d4bb102c15b59c2d0a7e84,chacha102,NaN,2009-05-30 17:22:49,I will not eat at Joes
4690,e/3df77e7962d4bb102c15b59c2d0a7e84/c/d57e19172...,e/3df77e7962d4bb102c15b59c2d0a7e84,chacha102,NaN,2009-07-16 21:03:03,will
6390,e/925a53352a23ac87caf86cd2f8e49f09/c/2e3db1c3b...,e/925a53352a23ac87caf86cd2f8e49f09,gamekingstv,NaN,2010-08-06 16:39:15,Het is vrijdag. Daar houden we van. Daarom gaa...
6839,e/133f50727f96484c558dc07b9cbea3bf/c/128f0824b...,e/133f50727f96484c558dc07b9cbea3bf,inhabitat24,NaN,2010-08-06 16:45:32,Read the rest of Incredible Miniature Sculptur...

In [62]:
comments.drop_duplicates(subset=['EntryID', 'PostedBy', 'Timestamp'], inplace=True)

In [63]:
comments['Timestamp'] = pd.to_datetime(comments['Timestamp']).dt.tz_localize('Etc/GMT-1').dt.tz_convert('UTC').dt.strftime('%Y-%m-%dT%H:%M:%S')

## Entries 1, 2, 3

In [64]:
entries = pd.concat([entries1, entries2, entries3])
entries.shape

(12450658, 12)

In [65]:
entries.head()

,PostID,PostedBy,SourceName,SourceURL,GeoX,GeoY,Timestamp,Text,NumImg,ImgURL,NumVid,VidURL
0,e/29af803d670fb8d67692095f3ee623e6,newsroom1,Ottawa Citizen - News,http://www.ottawacitizen.com/index.html,\N,\N,2010-08-02 18:43:10,RIM 'will not compromise' BlackBerry security ...,1.0,http://www.ottawacitizen.com/will+compromise+...,0.0,NaN
1,e/9c8413a376bec6389be4d46d0812c2bb,mehmetinnet,Mehmetin.Net,http://www.mehmetin.net,\N,\N,2010-08-02 19:15:52,Fethullah Gülen: Referandum siyasî olarak görü...,1.0,http://www.mehmetin.net/2010/08/fethullah-gul...,0.0,NaN
2,e/2d658d97842a466a9513f587f85b0e59,mehmetergin,Mehmetin.Net,http://www.mehmetin.net/,\N,\N,2010-08-02 19:15:52,Fethullah Gülen: Referandum siyasî olarak görü...,1.0,http://www.mehmetin.net/2010/08/fethullah-gul...,0.0,NaN
3,e/b269ab5d56be4e5e90c1954ecc1ef63a,afriki,NaN,NaN,\N,\N,2010-08-02 16:37:57,Мне тут недавно один дизайнер сказал: «Ну прот...,0.0,NaN,0.0,NaN
4,e/74f0a50c374a4ad6bddcbcc60c60cad9,hamsafar,NaN,NaN,\N,\N,2010-08-02 18:54:39,عرض سلام و خسته نباشيد:),0.0,NaN,0.0,NaN

In [66]:
entries['Timestamp'] = pd.to_datetime(entries['Timestamp']).dt.tz_localize('Etc/GMT-1').dt.tz_convert('UTC').dt.strftime('%Y-%m-%dT%H:%M:%S')

In [67]:
entries.dropna(subset=['Timestamp'], inplace=True)

In [68]:
entries.drop_duplicates(subset=['Text', 'SourceURL', 'PostedBy', 'Timestamp'], inplace=True)

## Remove timestamp outliers

In [22]:
likes = pd.read_parquet('processed_data/likes.parquet', engine='pyarrow')
likes = likes[likes['Timestamp'] >= '2010-01-01']

In [23]:
following = pd.read_parquet('processed_data/following.parquet', engine='pyarrow')
following = following[following['Timestamp'] >= '2010-01-01']

In [24]:
comments = pd.read_parquet('processed_data/comments.parquet', engine='pyarrow')
comments = comments[comments['Timestamp'] >= '2010-01-01']

In [2]:
entries = pd.read_parquet('processed_data/entries.parquet', engine='pyarrow')
entries = entries[entries['Timestamp'] >= '2010-01-01']

# Save pre-processed files

In [69]:
# %pip install pyarrow

Requirement already satisfied: pyarrow in /Users/rustamismailov/JupyterProjects/Data Mining I/DataMiningI_py3.12/lib/python3.12/site-packages (17.0.0)
Requirement already satisfied: numpy>=1.16.6 in /Users/rustamismailov/JupyterProjects/Data Mining I/DataMiningI_py3.12/lib/python3.12/site-packages (from pyarrow) (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
users.to_parquet('processed_data/users.parquet', index=False)
subs.to_parquet('processed_data/subs.parquet', index=False)
services.to_parquet('processed_data/services.parquet', index=False)
likes.to_parquet('processed_data/likes.parquet', index=False)
following.to_parquet('processed_data/following.parquet', index=False)
comments.to_parquet('processed_data/comments.parquet', index=False)
entries.to_parquet('processed_data/entries.parquet', index=False)